<h1 mat-dialog-title>Boulder {{data.id}} {{schwierigkeitString}}</h1>
@if (comparisonAthlete != undefined) {
  <h2 mat-dialog-title>Vergleich mit {{comparisonAthlete.name}}</h2>
} @else {
  <h2 mat-dialog-title>Vergleich mit ?</h2>
}
@defer (when athletesList != undefined) {
  <mat-dialog-content>
    @if(comparisonAthlete == undefined){
      <div>Wähle eine Teilnehmer mit dem verglichen werden soll</div>
      <br>
      <mat-form-field>
        <mat-label>Teilnehmer</mat-label>
        <input type="text"
             placeholder="Teilnehmer"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
        <mat-autocomplete (optionSelected)="optionSelected($event)" autoActiveFirstOption #auto="matAutocomplete">
          @for (athlete of filteredAthletes | async; track athlete) {
            <mat-option [value]="athlete.name">{{athlete.name}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      
    } @else {
      <div class="compRow">
        <div></div>
        <div>
          <h3>Hallen Avg.</h3>
        </div>
        <div>
          <h3>Eigener Score</h3>
        </div>
      </div>
      <div class="compRow">
        <div>
          <h3>Flash %</h3>
        </div>
        <div>
          {{data.numTop / athletesList.length * 100 | number: "1.1-2"}} %
          {{data.numFlash / athletesList.length * 100 | number: "1.1-2"}} %
        </div>
        <div>
          <h3>Avg. Versuche</h3>
          {{data.numAttempts / data.numTop | number: "1.1-2"}}
        </div>
      </div>
      <div>

      </div>
      
  
    }
  
    <p>Hier soll noch angezeigt werden können, wie viele Versuche der Teilnehmer selbst bei dem Boulder hatte.</p>
    <p>Unter anderem wird evtl. noch der direkte vergleich zwischen Teilnehmern implementiert.</p>
  
  </mat-dialog-content>
} @placeholder {
  loading ...
}

<mat-dialog-actions>
  @if (comparisonAthlete) {
    <button mat-button (click)="clearAthlete()">Athlet wechseln</button>
  }
  <button mat-button (click)="onNoClick()">Close</button>
</mat-dialog-actions>
