<!-- <mat-select></mat-select> -->
<mat-tab-group [selectedIndex]="tabIndex" (selectedTabChange)="swapColumns($event)">
  <mat-tab label="Gesamt"></mat-tab>
  <mat-tab label="Frauen"></mat-tab>
  <mat-tab label="Männer"></mat-tab>
</mat-tab-group>
@defer (when dataSource != undefined) {
<div class="tableContainer">
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nummer </th>
      <td mat-cell *matCellDef="let route"> {{route.id}} </td>
    </ng-container>

    <!-- Difficulty Column -->
    <ng-container matColumnDef="difficulty">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Farbe </th>
      <td mat-cell *matCellDef="let route">
        @switch (route.difficulty) {
        @case (1) {
        Lila/Pink
        }
        @case (2) {
        Schwarz/Blau
        }
        @case (3) {
        Rot/Orange
        }
        @case (4) {
        Weiß
        }
        }
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="numFlash">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Flashes </th>
      <td mat-cell *matCellDef="let route"> {{route.numFlash}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="numTop">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Top </th>
      <td mat-cell *matCellDef="let route"> {{route.numTop}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numAttempts">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Versuche </th>
      <td mat-cell *matCellDef="let route"> {{route.numAttempts}} </td>
    </ng-container>

    <!-- Women -->

    <!-- Weight Column -->
    <ng-container matColumnDef="numFlashWomen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Flashes </th>
      <td mat-cell *matCellDef="let route"> {{route.numFlashWomen}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="numTopWomen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Top </th>
      <td mat-cell *matCellDef="let route"> {{route.numTopWomen}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numAttemptsWomen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Versuche </th>
      <td mat-cell *matCellDef="let route"> {{route.numAttemptsWomen}} </td>
    </ng-container>

    <!-- Men -->

    <!-- Weight Column -->
    <ng-container matColumnDef="numFlashMen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Flashes </th>
      <td mat-cell *matCellDef="let route"> {{route.numFlashMen}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="numTopMen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Top </th>
      <td mat-cell *matCellDef="let route"> {{route.numTopMen}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numAttemptsMen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Versuche </th>
      <td mat-cell *matCellDef="let route"> {{route.numAttemptsMen}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row (click)="openDialog(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
}